/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box-color {
    background-color: black;
    
    text-align: center;
}

.box-color2 {
    background-color: gray;
    
    text-align: center;
}




/* 2. ---Grid--- */



.grid {
    display: grid;
    
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}


/* 3. ---Header--- */

#main-header {
    margin-top: 40px;

}

#header-logo {
    width: 170px;
    height: 100px;
    grid-column: 1/2;
}

#header-nav {
    height: 70px;
    width: 764px;
    grid-column: 5/-1;
    margin-top: 15px;
}


/* 4. ---Main Hero Image--- */

#hero {
    margin-top: 45px;
}

.hero-image {
    grid-column: 1/-1;
    width: 1170px;
    height: 468px;
    grid-row: 1/3;
    
}

#buy-now {
    width: 255px;
    height: 100px;
    grid-column: 10/-1;
    grid-row: 1/2;
    margin-top: 20px;
}

#tag-line {
    grid-column: 1/6;
    grid-row: 2/2;
    height: 70px;
    width: 570px;
    margin-bottom: 20px;
    align-self: end;
}




/* 5. ---Features--- */

#feature-con {
    margin-top: 100px;
}

.feature {
    width: 370px;
    height: 300px;
    grid-column: span 4;
}

#text-box1 {
    padding-top: 45px;
    
    grid-column: 7/-1;
    height: 401px;
    width: 570px;
}

#text-box2 {
    padding-top: 45px;
    
    grid-column: 1/6;
    height: 401px;
    width: 570px;
}

#gallery1 {
    padding-top: 45px;
    padding-bottom: 45px;
    grid-column: 1/6;
    height: 401px;
    width: 570px;
}

#gallery2 {
    padding-top: 45px;
    padding-bottom: 45px;
    grid-column: 7/-1;
    height: 401px;
    width: 570px;
}



/* 6. ---Footer--- */

#footer-con-full {
    height: 100px;
    margin-top: 150px;
}

#footer-nav {
    width: 640px;
    height: 70px;
    margin-top: 15px;
    grid-column: 1/8;
    margin-left: 20px;
}
